<!--TOOLBAR-->
<mat-toolbar color="primary">
    <span>Contatos</span>
</mat-toolbar>

<!--LISTA-->
<mat-nav-list *ngFor="let contact of contacts">
    <mat-list-item>
        <a matLine [routerLink]="['/contacts', contact.id]">{{contact.name}}</a>
        <button mat-icon-button (click)="deleteContact(contact)">
        <mat-icon>delete</mat-icon>
     </button>
    </mat-list-item>
</mat-nav-list>

<!--ROTA COM FAB-->
<a class="create" routerLink="/contacts/create" mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
    <mat-icon>add</mat-icon>
</a>